*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.19),rgba(0,0,0,0.19)), url(1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo {
    text-align: center;
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 30px;
}

.main1{
    list-style-type: none;
    float: left;
    padding-top: 40px;
    padding-left: 40px;
}

.main2{
    list-style-type: none;
    float: right;
    padding-top: 40px;
    padding-right: 40px;
}

.main2 button{
    background-color:transparent;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0px 20px;
}

ul li{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
}

ul li a:hover{
    text-decoration: underline
}

.button1{
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.button2{
    position: absolute;
    top: 62%;
    left: 20%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid #fff;
    padding: 5px 60px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    background-color: #fff;
    width: 260px;
    height: 40px;
    cursor: pointer;
}

.btn:hover{
    background-color:transparent;
    color: #fff
}

h1{
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 15px;
}

h2{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

h2:hover{
    text-decoration: underline;
}

h3{
    text-align: center;
    font-size: 20px;
    padding: 50px;
    font-weight: 500;
    background-color: #E4E4E4
}

h4{
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 400;
    background-color: #E4E4E4
}

.seperate{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.column{
    flex: 25%;
    padding: 5px;
}

.row{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.column img{
    height: 280px;
    padding-left: 20px;
    padding-right: 20px;
}

.column img:hover{
    position: relative;
    opacity: 0.6;

}

.column p{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    font-weight: 500;
    padding-bottom: 40px;
    cursor: pointer;
}

.column p:hover{
    text-decoration: underline;
}

h5{
    text-align: center;
    padding: 40px;
    font-weight: 400;
    font-size: 14px;  
}

h5 p{
    padding: 20px;
    cursor: pointer;
}

h5 p:hover{
    text-decoration: underline;
}

.together{
    display: flex;
    justify-content:center;
    padding-bottom: 40px;
}

.together button{
    background-color: transparent;
    border: none;
    padding: 0px 20px;
    cursor: pointer;
}

.products{
    font-size: 14px;
    font-weight: 400;
    padding: 40px 50px;
}

hr{
    margin-left: 50px;
    margin-right: 50px;
}

h6{
    font-size: 22px;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    font-weight: 500
}

h6 p{
    padding-top: 20px;
    font-weight:400;
}

.allc{
    font-size: 14px;
    font-weight: 400;
    padding-left: 50px;
    padding-bottom: 40px;
}

.allc b{
    float: right;
    font-weight: 400;
    padding-right: 50px;
}

.middle{
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

.middle button{
    border: 1px solid #000;
    padding: 5px 60px;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    background-color: #fff;
    width: 180px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
}

.middle button:hover{
    background-color:#000;
    color: #fff;
}
